# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Database
*.db
*.db-shm
*.db-wal

# Other
*.log
*.cache
.vscode/

# Environment variables
.env
.env.local
.env.*.local

**/bin/
**/obj/
**/.vs/